<%- include('../partials/skeleton.ejs') %>
<!-- Header -->
<%- include('../partials/header.ejs') %>

<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
  <%- include('form') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>