
  <header id="wn__header" class="header__area header__absolute sticky__header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6 col-lg-2">
          <div class="logo">
            <a href="/">
              <img src="../css/images/logo/logo.png" alt="logo images">
            </a>
          </div>
        </div>

        <!-- spaziatura per le impostazioni -->
        <div class="col-lg-8 d-none d-lg-block"></div>
        
        <div class="col-md-6 col-sm-6 col-6 col-lg-2">
          <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
            <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
              <div class="searchbar__content setting__block">
                <div class="content-inner">
                  <div class="switcher-currency">
                    <strong class="label switcher-label">
                      <span>Account</span>
                    </strong>
                    <div class="switcher-options">
                      <div class="switcher-currency-trigger">
                        <div class="setting__menu">
                          <span><a href="/auth">Login</a></span>
                          <span><a href="/new">Sign Up</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>		
		<div class="mobile-menu d-block d-lg-none">
		</div>
  </header>
  <!-- //Header -->