
<%- include('../partials/skeleton.ejs') %>
<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Start BEst Seller Area -->
		<%- body %>
		<!-- Start BEst Seller Area -->
	
		<%- include('../partials/footer.ejs') %>	
		
      <%- include('../partials/errors.ejs') %>
	</div> 
</body>
</html>