<%- include('../partials/skeleton.ejs') %>
<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		
		<!-- Start BEst Seller Area -->
		<%- body %>
		<!-- Start BEst Seller Area -->
	
		



    
		
		
		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-left">
									<p>Copyright <i class="fa fa-copyright"></i> <a href="#">Boighor.</a> All Rights Reserved</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</footer></div>
		<!-- //Footer Area -->
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
  <div class="container">
    
    <div class="inner-container">
      <%- include('../partials/errors.ejs') %>
      
    </div>
  </div>
</body>
</html>