
  <div class="input__box">
    <label>Email <span>*</span></label>
    <input type="email">
  </div>

  <div class="input__box">
    <label>password <span>*</span></label>
    <input type="password">
  </div>
    <button>Login</button>