
<!-- Start Checkout Area -->
<section class="wn__checkout__area section-padding--lg bg__white">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="wn_checkout_wrap">
						<form class="wn__checkout__form" action="/users/login" method="POST">
							<%- include('form') %>
						</form>
				</div>
			</div>
		</div>
    </div>
</section>
<!-- End Checkout Area -->