
    <div class="form-input">
      <input type="text" placeholder="Add an Author..." name="name" value="<%= author.name %>">
    <button type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
    </div>
   