<div class="form-row">
    <div class="form-item">
      <label>Nome</label>
      <input type="text" name="name" value="<%= author.name %>">
    </div>
  </div>




  <!--https://www.youtube.com/watch?v=esy4nRuShl8&list=PLZlA0Gpn_vH8jbFkBjOuFjhxANC63OmXM&index=6-->